<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center">Careers</h1>
  <hr />
  <div class="booyah-box col-xs-8 col-xs-offset-2">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus metus tellus, eget accumsan nisi gravida sit amet. Cras eget consectetur diam. Curabitur turpis ligula, aliquet nec orci et, accumsan aliquam libero. Nam porta auctor dui in iaculis. Etiam varius orci ligula, id elementum nisl bibendum vitae. Ut sit amet sem nisi. Nam felis lectus, volutpat at varius nec, fermentum sed purus. Duis finibus varius congue. Pellentesque facilisis pharetra enim, ac sollicitudin metus egestas ac. Quisque interdum fringilla commodo. Maecenas suscipit pretium tincidunt.
    </p>
  </div>
  <div class="clr"></div>
  <br />
  <div class="booyah-box col-xs-8 col-xs-offset-2">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus metus tellus, eget accumsan nisi gravida sit amet. Cras eget consectetur diam. Curabitur turpis ligula, aliquet nec orci et, accumsan aliquam libero. Nam porta auctor dui in iaculis. Etiam varius orci ligula, id elementum nisl bibendum vitae. Ut sit amet sem nisi. Nam felis lectus, volutpat at varius nec, fermentum sed purus. Duis finibus varius congue. Pellentesque facilisis pharetra enim, ac sollicitudin metus egestas ac. Quisque interdum fringilla commodo. Maecenas suscipit pretium tincidunt.
    </p>
  </div>

</div>