<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn Your Way around PCs</h1>
    <br />
    <h2>Technical Skills Courses from PC Enthusiasts</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />

<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <%= image_tag 'play.svg', class: 'feature'%>
    <h3>Step by step video instructions on how to build an awesome PC.</h3>
  </div>

  <div class="col-sm-4">
    <%= image_tag 'monitor.svg', class: 'feature' %>
    <h3>Learn your way around PCs by learning all the components that make up a PC.</h3>
  </div>

  <div class="col-sm-4">
    <%= image_tag 'code.svg', class: 'feature' %>
    <h3>Understand what's under the hood. Push your PCs to the limits by learning how to overclock!</h3>
  </div>
</div>