<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="col-xs-6">
  <%= image_tag 'profile.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-6 text-center">
    <h1>Our Team</h1>
    <h2> Founder </h2>
    <h3>Tim Freebern II</h3>
    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim mauris et massa sodales, sed aliquam justo viverra. Phasellus lacinia tristique enim ut dictum. Maecenas faucibus vitae dolor id fringilla. In ac ornare dolor. Nam suscipit tristique aliquam. Etiam pellentesque ligula eu enim aliquet, at posuere nulla dapibus. Cras et ante nec libero consequat congue eu in ex. Cras viverra blandit interdum. Mauris et ullamcorper nunc, et pellentesque turpis. Nunc non tempor ex. Donec scelerisque ante dignissim quam volutpat, ac fringilla justo dapibus. Pellentesque rutrum cursus molestie. Cras vitae consequat mauris. Aliquam feugiat eget urna non hendrerit. Phasellus placerat tortor nec enim viverra convallis.
    <br />
    <br />    
    Proin porttitor nulla ex, quis pulvinar tortor viverra at. Nullam efficitur, ex id blandit blandit, leo ex lacinia ex, eget scelerisque sem lectus sit amet nisl. Proin hendrerit blandit mauris vel semper. Vestibulum eget nisl nisi. In sit amet velit id justo facilisis pharetra. Nulla a nibh faucibus quam varius volutpat sed vel turpis. Duis egestas ac massa vitae congue. Aliquam erat volutpat. Nullam nec dignissim nibh. Integer auctor ut odio blandit venenatis. In sagittis, nisl euismod ullamcorper venenatis, eros sem blandit neque, id porttitor elit neque nec mi.
    <br />
    <br />    
    Sed lacinia volutpat urna, a vulputate nunc convallis nec. Duis quis augue vel justo iaculis rutrum. Etiam vitae est tellus. Pellentesque at gravida lacus. In id sollicitudin ante. Nam pellentesque consectetur nibh, tincidunt ornare turpis. Fusce a nunc imperdiet, cursus justo at, sollicitudin mauris. Aenean ligula sem, tristique eget molestie vitae, maximus et lorem. Aliquam eu est nec ligula sagittis lacinia. Nunc vitae diam vitae metus pretium sodales. Suspendisse varius tortor non augue condimentum fringilla. Praesent bibendum metus arcu, vitae luctus libero placerat vel. Praesent eu neque vestibulum, ullamcorper leo hendrerit, lobortis nunc. Cras tincidunt tempor venenatis. Phasellus posuere nec nunc sed varius.
    </p>
  </div>
</div>