@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mirza:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700');

body {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", 
  "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  background: url('green_cup.png');
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar {
  margin: 0;
  border-radius:0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('footer_lodyas.png');
}

.navbar-inverse a.navbar-brand {
  color: #2f73e0;
  font-family: 'Mirza', cursive;
  font-size: 32px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.hero {
  background: url('owl.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 550px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background:rgba(0,0,0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius:0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin: 10px;
}